### Maven ###
**/target/**/*.*

### Eclipse ###
.project
.metadata/
.classpath
.recommenders/
bin/
*.tmp
.settings/

### Temp ignoring ###
/Logging/
/Maven/
/Hibernate/Hibernate JBoss.org part_01/docs/~$bernate.docx
