<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0"
         metadata-complete="true">

	<!-- Start page of the application -->
	 <welcome-file-list>  
		 <welcome-file>Web-content/index.html</welcome-file>  
	 </welcome-file-list>  


	 <!-- An example of sending a request from a form -->
     <servlet>
         <servlet-name>FormRequest</servlet-name>
         <servlet-class>by.pva.servletapi.requests.FormRequest</servlet-class>
     </servlet>
     <servlet-mapping>
         <servlet-name>FormRequest</servlet-name>
         <url-pattern>/Web-content/Requests/FormRequest/sendRequestFromTheForm</url-pattern>
     </servlet-mapping>


 	<!-- An example of getting a file -->
     <servlet>
         <servlet-name>BookDownloader</servlet-name>
         <servlet-class>by.pva.servletapi.responses.BookDownloader</servlet-class>
     </servlet>
     <servlet-mapping>
         <servlet-name>BookDownloader</servlet-name>
         <url-pattern>/docs/downloads/headFirst</url-pattern>
     </servlet-mapping>

 	<!-- A page redirect example -->
    <servlet>
         <servlet-name>Redirecter</servlet-name>
         <servlet-class>by.pva.servletapi.responses.Redirecter</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>Redirecter</servlet-name>
         <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    
    
    <!-- An example of reading servlet specific parameters from a servlet config -->
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>by.pva.servletapi.servletconfig.ParameterReaderFromServletConfig</servlet-class>
	    	<init-param>
		    	<param-name>email</param-name>
	    		<param-value>somemail@gmail.com</param-value>
			</init-param>
			<init-param>
		    	<param-name>phone</param-name>
	    		<param-value>+375 (29) 77-77-777</param-value>
			</init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/showConatact</url-pattern>
    </servlet-mapping>


	<!-- An example of reading web app specific parameters from a servlet context -->
    <servlet>
    	<servlet-name>CompanyContact</servlet-name>
        <servlet-class>by.pva.servletapi.servletcontext.ParameterReaderFromServletContext</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyContact</servlet-name>
        <url-pattern>/showCompanyConatact</url-pattern>
    </servlet-mapping>

	<context-param>
        <param-name>company_email</param-name>
        <param-value>SomeCompanyEmail@mail.com</param-value>
    </context-param>


	<!-- A servelt context listener example -->
    <servlet>
    	<servlet-name>ServletContextListener</servlet-name>
        <servlet-class>by.pva.servletapi.servletcontextlistener.ServletContextListenerExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContextListener</servlet-name>
        <url-pattern>/testServletContextListener</url-pattern>
    </servlet-mapping>

    <context-param>
    	<param-name>breed</param-name>
        <param-value>Great Dane</param-value>
    </context-param>

	<listener>
        <listener-class>by.pva.servletapi.servletcontextlistener.MyServletContextListener</listener-class>
    </listener>


	<!-- An example of session that use cookie -->
    <servlet>
        <servlet-name>ServletSessionTest</servlet-name>
        <servlet-class>by.pva.servletapi.session.cookie.SessionTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSessionTest</servlet-name>
        <url-pattern>/testSessionCookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletSessionInvalidator</servlet-name>
        <servlet-class>by.pva.servletapi.session.cookie.SessionInvalidator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSessionInvalidator</servlet-name>
        <url-pattern>/invalidateSession</url-pattern>
    </servlet-mapping>


	<!-- An example of session that use URL Rewriting -->
    <servlet>
        <servlet-name>ServletSessionUrlRewriting</servlet-name>
        <servlet-class>by.pva.servletapi.session.urlrewriting.ServletSessionUrlRewritingExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSessionUrlRewriting</servlet-name>
    	<url-pattern>/testSessionURLRewriting</url-pattern>
    </servlet-mapping>

    <servlet>
    	<servlet-name>ServletSessionNextPage</servlet-name>
        <servlet-class>by.pva.servletapi.session.urlrewriting.SessionNextPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSessionNextPage</servlet-name>
        <url-pattern>/sessionNextPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletSessionNextPageUrlEncoded</servlet-name>
        <servlet-class>by.pva.servletapi.session.urlrewriting.SessionNextPageUrlEncoded</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSessionNextPageUrlEncoded</servlet-name>
        <url-pattern>/sessionNextPageUrlEncoded</url-pattern>
    </servlet-mapping>


	<!-- An example of jsp init parameters manipulations and method overriding -->
    <servlet>
    	<servlet-name>JspClassInitParameterManipualtionAndMethodOverriding</servlet-name>
        <jsp-file>/Web-content/Jsp/JspClassInitParameterManipualtionAndMethodOverriding.jsp</jsp-file>
		<init-param>
	    	<param-name>jspParam1</param-name>
	        <param-value>jspParam1Value</param-value>
		</init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>JspClassInitParameterManipualtionAndMethodOverriding</servlet-name>
        <url-pattern>/JspClassInitParameterManipualtionAndMethodOverriding</url-pattern>
    </servlet-mapping>
    
    <!-- JSP standart action example (jsp:useBean) -->
    <servlet>
    	<servlet-name>JspUseBeanStandartActionExample</servlet-name>
        <servlet-class>by.pva.servletapi.jsp.standartactions.JspUseBeanStandartActionExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JspUseBeanStandartActionExample</servlet-name>
        <url-pattern>/JspUseBeanStandartAction</url-pattern>
    </servlet-mapping>
    
    <!-- Using EL in JSP -->
    <servlet>
    	<servlet-name>UsingElExpressionToDisplayNonPrimitivePropertiesExample</servlet-name>
        <servlet-class>by.pva.servletapi.jsp.el.UsingElExpressionToDisplayNonPrimitivePropertiesExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsingElExpressionToDisplayNonPrimitivePropertiesExample</servlet-name>
        <url-pattern>/UseElExpressionToDisplayNonPrimitiveProperties</url-pattern>
    </servlet-mapping>
    
    <!-- Error pages -->
    <error-page>
    	<error-code>404</error-code>
    	<location>/Web-content/Deployment descriptor/Error404.jsp</location>
    </error-page>
	
    <!-- Basic authentication with Tomcat -->
    <security-role>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
	<role-name>Member</role-name>
    </security-role>
    <security-role>
	<role-name>Guest</role-name>
    </security-role>
	
    <login-config>
	<auth-method>BASIC</auth-method>
    </login-config>

    <security-constraint>
	<web-resource-collection>
	    <web-resource-name>SecretPage</web-resource-name>
	    <url-pattern>/Web-content/Security/Top Secret.jsp</url-pattern>
	</web-resource-collection>
		
	<auth-constraint>
	    <role-name>Admin</role-name>
	</auth-constraint>
    </security-constraint>

    <!-- Filters -->
    <servlet>
    	<servlet-name>Filters</servlet-name>
        <servlet-class>by.pva.servletapi.filters.SomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Filters</servlet-name>
        <url-pattern>/Filters</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>filter1</filter-name>
        <filter-class>by.pva.servletapi.filters.Filter1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter1</filter-name>
        <url-pattern>/Filters</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>filter2</filter-name>
        <filter-class>by.pva.servletapi.filters.Filter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter2</filter-name>
        <url-pattern>/Filters</url-pattern>
    </filter-mapping>

</web-app>